@model GestionBiblioteca.Models.Libros

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Libros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodLibro" class="control-label"></label>
                <input asp-for="CodLibro" class="form-control" readonly />
                <span asp-validation-for="CodLibro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editorial" class="control-label"></label>
                <input asp-for="Editorial" class="form-control" />
                <span asp-validation-for="Editorial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioPublicacion" class="control-label"></label>
                <input asp-for="AnioPublicacion" class="form-control" />
                <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Autores</label>
                <div>
                    @foreach (var autor in (List<GestionBiblioteca.Models.Autor>)ViewBag.Autores)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   name="CodAutores"
                                   value="@autor.CodAutor"
                            @(((List<string>)ViewBag.AutoresSeleccionados).Contains(autor.CodAutor) ? "checked" : "") />
                            <label class="form-check-label">@autor.NombreAutor</label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Volver al listado</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

